@font-face{
    font-family: font1;
    src: url(Prototype.ttf)
}
@font-face {
    font-family: font2;
    src: url(TitilliumWeb-Light.ttf);
  }

body{
  margin: 0;
  padding: 0;
  background-image: url("FULL COVER.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  
}


.form2 {
  width: 500px;
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
  padding-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0,.2);
  color: black;
  position: absolute; /* Position the form absolutely */
  top: 50%; /* Move the form 50% from the top */
  left: 50%; /* Move the form 50% from the left */
  transform: translate(-50%, -50%); /* Translate the form to center it */
}


h2, h1{
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2em; 
  font-family: font1;
}


label {
  display: block;
  font-weight: bold; 
  font-family: font2;
  margin-bottom: 0px;
  font-size: 13px;
}


input[type="text"],
input[type="password"] {
  width: 100%; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 0.9em; 
}


input[type="email"] {
  
}

input[type="submit"] {
  background-color: gray; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em; 
  margin-top: 20px;
  width: 100%; 
}


a {
  color: gray; 
  text-decoration: none; 
}

a:hover {
  opacity: 0.8; 
}

div h4{
  margin-left: 155px ;
  position: center;
}

.content{
  font-size: 25px;
  width: 500px; 
  margin: 50px auto; 
  padding: 20px;
  padding-top: 10px;
  border: 1px solid #ccc; 
  border-radius: 10px; 
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: black;
  position: absolute; /* Position the form absolutely */
  top: 50%; /* Move the form 50% from the top */
  left: 50%; /* Move the form 50% from the left */
  transform: translate(-50%, -50%); /* Translate the form to center it */
}

.button2 {
  background-color: rgb(207, 69, 69); 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px; 
  margin-top: 20px;
  width: 100%; 
}
